
<div class="container">
    <h2>Home Page</h2>
    <div class="row">
        <div class="col-md-12">
            <p>Click on the below buttons to view the examples.</p>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Text</h5>
                                <p class="card-text">Add text content to PDF</p>
                                <a routerLink="/example/sample"
                                    class="btn btn-warning">View example</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Image</h5>
                                <p class="card-text">Add Image to PDF</p>
                                <a routerLink="/example/image"
                                    class="btn btn-warning">View example</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Page Layout</h5>
                                <p class="card-text">Change page layout</p>
                                <a routerLink="/example/pagelayout"
                                    class="btn btn-warning">View example</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Tables</h5>
                                <p class="card-text">Add tables in PDF</p>
                                <a routerLink="/example/tables"
                                    class="btn btn-warning">View example</a>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
